<div class="container" style="margin-top:10%">
    <div class="row">

        <!-- palette -->
        <div class="col-md-1">
            <table class="table borderless">
                <tbody>
                    <tr>
                        <th><button type="button" class="btn btn-primary btn-circle btn-lg"></button></th>
                    </tr>
                    <tr>
                        <th><button type="button" class="btn btn-success btn-circle btn-lg"></button></th>
                    </tr>
                    <tr>
                        <th><button type="button" class="btn btn-info btn-circle btn-lg"></button></th>
                    </tr>
                    <tr>
                        <th><button type="button" class="btn btn-warning btn-circle btn-lg"></button></th>
                    </tr>
                    <tr>
                        <th><button type="button" class="btn btn-danger btn-circle btn-lg"></button></th>
                    </tr>
                    <tr>
                        <th><button type="button" class="btn btn-primary purple btn-circle btn-lg"></button></th>
                    </tr>
                    <tr>
                        <th><button type="button" class="btn btn-default btn-circle btn-lg"></button></th>
                    </tr>
                    <tr>
                        <th><button type="button" class="btn btn-primary black btn-circle btn-lg"></button></th>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- END palette -->

        <!-- game -->
        <div class="col-md-9">
            <table class="table">

                <tbody>
                    <tr>
                        <th>10</th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th class="col-md-2">
                            <span class="badge lightgrey"> <br></span>
                            <span class="badge lightgrey "> <br></span>
                            <span class="badge lightgrey"> <br></span>
                            <span class="badge lightgrey"> <br></span>
                        </th>
                    </tr>
                    <tr>
                        <th>9</th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th class="col-md-2">
                            <span class="badge lightgrey"> <br></span>
                            <span class="badge lightgrey "> <br></span>
                            <span class="badge lightgrey"> <br></span>
                            <span class="badge lightgrey"> <br></span>
                        </th>
                    </tr>
                    <tr>
                        <th>8</th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th class="col-md-2">
                            <span class="badge lightgrey"> <br></span>
                            <span class="badge lightgrey "> <br></span>
                            <span class="badge lightgrey"> <br></span>
                            <span class="badge lightgrey"> <br></span>
                        </th>
                    </tr>
                    <tr>
                        <th>7</th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th class="col-md-2">
                            <span class="badge lightgrey"> <br></span>
                            <span class="badge lightgrey "> <br></span>
                            <span class="badge lightgrey"> <br></span>
                            <span class="badge lightgrey"> <br></span>
                        </th>
                    </tr>
                    <tr>
                        <th>6</th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th class="col-md-2">
                            <span class="badge lightgrey"> <br></span>
                            <span class="badge lightgrey "> <br></span>
                            <span class="badge lightgrey"> <br></span>
                            <span class="badge lightgrey"> <br></span>
                        </th>
                    </tr>
                    <tr>
                        <th>5</th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th class="col-md-2">
                            <span class="badge lightgrey"> <br></span>
                            <span class="badge lightgrey "> <br></span>
                            <span class="badge lightgrey"> <br></span>
                            <span class="badge lightgrey"> <br></span>
                        </th>
                    </tr>
                    <tr>
                        <th>4</th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th class="col-md-2">
                            <span class="badge lightgrey"> <br></span>
                            <span class="badge lightgrey "> <br></span>
                            <span class="badge lightgrey"> <br></span>
                            <span class="badge lightgrey"> <br></span>
                        </th>
                    </tr>
                    <tr>
                        <th>3</th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn lightgrey btn-circle btn-lg"></button></th>
                        <th class="col-md-2">
                            <span class="badge lightgrey"> <br></span>
                            <span class="badge lightgrey "> <br></span>
                            <span class="badge lightgrey"> <br></span>
                            <span class="badge lightgrey"> <br></span>
                        </th>
                    </tr>
                    <tr class="active">
                        <th>2</th>
                        <th><button type="button" class="btn red btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn black btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn blue btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn yellow btn-circle btn-lg"></button></th>
                        <th class="col-md-2">
                            <span class="badge green"> <br></span>
                            <span class="badge grey "> <br></span>
                            <span class="badge green"> <br></span>
                            <span class="badge grey"> <br></span>
                        </th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th><button type="button" class="btn red btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn black btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn green btn-circle btn-lg"></button></th>
                        <th><button type="button" class="btn yellow btn-circle btn-lg"></button></th>
                        <th class="col-md-2">
                            <span class="badge grey"> <br></span>
                            <span class="badge grey "> <br></span>
                            <span class="badge green"> <br></span>
                            <span class="badge grey"> <br></span>
                        </th>
                    </tr>

                </tbody>
            </table>
        </div>
        <!-- END game -->

        <!-- game data -->
        <div class="col-md-2">

            <img class="img-responsive" src="http://placehold.it/350x550" alt="">

            <h3 class="text-center">15:00</h3>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="20" style="width: 75%;">
                    15
                </div>
            </div>
            <button class="btn btn-default btn-block">submit</button>
        </div>
        <!-- end game data -->

    </div>
</div>