<div class="container" style="margin-top:10%">
    <div class="row">

        <!-- palette -->
        <div class="col-md-1">
            <table class="table borderless control" data-cid="palette"></table>
        </div>
        <!-- END palette -->

        <!-- game -->
        <div class="col-md-9">
            <table class="table control" data-cid="opponent"></table>
            <table class="table control" data-cid="board"></table>
        </div>
        <!-- END game -->

        <!-- game data -->
        <div class="col-md-2">

            <img class="img-responsive" src="http://placehold.it/350x550" alt="">

            <h3 class="text-center">15:00</h3>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="20" style="width: 75%;">
                    15
                </div>
            </div>
            <a class="btn btn-default btn-block control" data-cid="submit">Submit</a>
        </div>
        <!-- end game data -->

    </div>
</div>