<div>
    <a class="btn btn-primary control" data-cid="host" role="button">Host game</a>
    <a class="btn btn-primary control" data-cid="refresh" role="button">Refresh game list</a>

    <table class="centered-table control" data-cid="game-table">
        <tr><th colspan="3">Current games</th></tr>
        <tr><th>Join</th><th>Host</th></tr>
    </table>
</div>