<div>
    <a class="btn btn-primary control" data-cid="start" role="button">Start game</a>

    <table class="centered-table control" data-cid="player-table">
        <tr><th>Lobby</th></tr>
        <tr><th>Players</th></tr>
    </table>
</div>