<div class="col-md-3 col-md-offset-4">
    <div class=" member_signin">
        <div class="panel-body">
            <p class="member">Registrer</p>
            <form class="loginform" role="form">
                <div class="form-group">
                    <label class="sr-only" for="email">Email address</label>
                    <div class="input-group">
                        <input class="form-control control" data-cid="email" id="email" placeholder="Brugernavn" type="email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <div class="input-group">
                        <input class="form-control control" data-cid="password" id="password" placeholder="Adgangskode" type="password">
                    </div>
                </div>
                <a class="btn btn-primary btn-block control" data-cid="register" role="button">Registrer</a>
            </form>
        </div>
    </div>
</div>