div.member_signin {
    text-align: center;
}

div.member_signin  i.fa.fa-user {
    color: #FFF;
    background-color: #FFD202;
   
    font-size: 36px;
    padding: 15px 20px 15px 20px;
}

p.member {
    font-size: 30px;
    color: #888888;
    margin-bottom: 20px;
}

form.loginform div.input-group {
    width: 100%;
}

form.loginform input[type="email"], form.loginform input[type="password"] {
    color: #6C6C6C;
    text-align: center;
}

body {
    margin: 50px;
    margin-bottom: 0px;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.label-as-badge {
    border-radius: 1em;
}

.blue { background-color: #337ab7 !important;}
.green { background-color: #5cb85c !important; }
.lightblue { background-color: #5bc0de !important; }
.yellow { background-color: #f0ad4e !important; }
.red { background-color: #d9534f !important; }
.purple { background-color: #611bbd !important; }
.grey { background-color: #777 !important; }
.black {background: #000 !important;}
.lightgrey {background-color: #c1c1c1 !important;}

.current-turn { background-color: #a4f993 !important;}

.borderless td, .borderless th { border: none !important; }

.centered-table {
    margin: 0 auto;
}

.hidden {
    display: none;
}